.profile__avatar-edit {
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.80);
	background-image: url('../../../images/pencil.svg');
	background-size: 26px;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	opacity: 0;
	transition: opacity 0.2s;
	cursor: pointer;
}

.profile__avatar-edit:hover {
	opacity: 1;
}