.header {
	margin: 45px auto 0;
	max-width: 880px;
	height: 74px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 879px) {
	.header {
		max-width: calc(100% - 32px);
	}
}

@media screen and (max-width: 767px) {
	.header {
		margin-top: 28px;
		height: 56px;
	}
}