.profile__information {
	margin: 0;
	padding-top: 16px;
	max-width: 570px;
	min-width: 100%;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.profile__information {
		padding-top: 8px;
		max-width: 70vw;
		min-width: 70vw;
		text-align: center;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
	}
}

@media screen and (max-width: 481px) {
	.profile__information {
		max-width: 282px;
		min-width: 282px;
	}
}