.popup__inputs {
	margin: 0;
	padding: 0;
	position: relative;
	max-width: 358px;
	width: 100%;
	border: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	row-gap: 30px;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	.popup__inputs {
		max-width: 238px;
	}
}