.element__caption {
	margin: 0;
	padding-top: 25px;
	padding-left: 21px;
	max-width: 265px;
	display: flex;
	justify-content: space-between;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}