.profile__name {
	margin: 0;
	max-width: 363px;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	color: #FFFFFF;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


@media screen and (max-width: 767px) {
	.profile__name {
		margin-left: 28px;
		max-width: 189px;
		min-width: 189px;
		font-size: 27px;
		line-height: 33px;
		text-align: center;
	}
}