.popup__submit {
	margin: 43px 0 36px;
	padding: 0;
	width: 100%;
	height: 50px;
	background: #000000;
	border: 0 solid #000000;
	border-radius: 2px;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

.popup__submit:hover {
	background: rgb(0, 0, 0, 0.8);
	border: 0 solid rgb(0, 0, 0, 0.8);
}

.popup__submit:disabled {
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.2);
	cursor: default;
}

@media screen and (max-width: 767px) {
	.popup__submit {
		margin: 45px 0 25px;
		font-size: 14px;
		line-height: 17px;
	}
}